In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from spx_history import *

- date range

In [3]:
start_dt = dt.date(2021,1,1)
end_dt = dt.date.today()

In [4]:
tu = pd.read_csv('data/spy_cst.csv')

In [5]:
tickers = tu[tu['Ticker'] != '-']['Ticker'].unique().tolist()

- intraday data

In [7]:
# t = get_raw_intraday("NVDA", start_dt=dt.date(2024, 6, 1), end_dt=dt.date(2024, 8, 1))
# t['close'].plot()

- explore

In [8]:
symbol = 'COST'

In [10]:
def get_data(symbol="MSFT", filename="split"):
	df = pd.DataFrame()
	try:
		df = pd.read_csv(f'data/{filename}/{symbol}.csv')
	except Exception as e:
		qt.log.warn(f"{filename} file not found for {symbol}")
	qt.log.info(f"df.shape = {df.shape}")
	return df

In [11]:
ts = get_data(symbol=symbol, filename='split')
td = get_data(symbol=symbol, filename='div')
ti = get_data(symbol=symbol, filename='intraday')

/tmp/ipykernel_963/180982541.py:6: DeprecationWarning: The 'warn' method is deprecated, use 'warning' instead
  qt.log.warn(f"{filename} file not found for {symbol}")
[JUSTY.LOG]	2026-02-12 23:22:08,005 - qt.common.help - WARNING - split file not found for COST
[JUSTY.LOG]	2026-02-12 23:22:08,006 - qt.common.help - INFO - df.shape = (0, 0)
[JUSTY.LOG]	2026-02-12 23:22:08,012 - qt.common.help - INFO - df.shape = (22, 8)
[JUSTY.LOG]	2026-02-12 23:22:08,342 - qt.common.help - INFO - df.shape = (736040, 7)

In [12]:
ts
td

Empty DataFrame
Columns: []
Index: []

,date,declarationDate,recordDate,paymentDate,period,value,unadjustedValue,currency
0,2021-02-04,2021-01-21,2021-02-05,2021-02-19,Quarterly,0.70,0.70,USD
1,2021-04-29,2021-04-14,2021-04-30,2021-05-14,Quarterly,0.79,0.79,USD
2,2021-07-29,2021-07-13,2021-07-30,2021-08-13,Quarterly,0.79,0.79,USD
3,2021-10-28,2021-10-13,2021-10-29,2021-11-12,Quarterly,0.79,0.79,USD
4,2022-02-03,2022-01-20,2022-02-04,2022-02-18,Quarterly,0.79,0.79,USD
5,2022-04-28,2022-04-13,2022-04-29,2022-05-13,Quarterly,0.90,0.90,USD
6,2022-07-28,2022-07-13,2022-07-29,2022-08-12,Quarterly,0.90,0.90,USD
7,2022-10-27,2022-10-12,2022-10-28,2022-11-10,Quarterly,0.90,0.90,USD
8,2023-02-02,2023-01-19,2023-02-03,2023-02-17,Quarterly,0.90,0.90,USD
9,2023-05-04,2023-04-19,2023-05-05,2023-05-19,Quarterly,1.02,1.02,USD
10,2023-08-24,2023-08-09,2023-08-25,2023-09-08,Quarterly,1.02,1.02,USD
11,2023-11-02,2023-10-18,2023-11-03,2023-11-17,Quarterly,1.02,1.02,USD
12,2023-12-27,2023-12-13,2023-12-28,2024-01-14,Other,15.00,15.00,USD
13,2024-02-01,2024-01-18,2024-02-02,2024-02-16,Quarterly,1.02,1.02,USD
14,2024-04-25,2024-04-10,2024-04-26,2024-05-10,Quarterly,1.16,1.16,USD
15,2024-07-26,2024-07-10,2024-07-26,2024-08-09,Quarterly,1.16,1.16,USD
16,2024-11-01,2024-10-16,2024-11-01,2024-11-15,Quarterly,1.16,1.16,USD
17,2025-02-07,2025-01-23,2025-02-07,2025-02-21,Quarterly,1.16,1.16,USD
18,2025-05-02,2025-04-16,2025-05-02,2025-05-16,Quarterly,1.30,1.30,USD
19,2025-08-01,2025-07-15,2025-08-01,2025-08-15,Quarterly,1.30,1.30,USD
20,2025-10-31,2025-10-15,2025-10-31,2025-11-14,Quarterly,1.30,1.30,USD
21,2026-01-30,2026-01-15,2026-01-30,2026-02-13,Quarterly,1.30,1.30,USD

In [36]:
import requests
from io import StringIO

def download_file_by_date(query_date=dt.date(2025,1,1), filename="dividends", api_token=EODHD_API_KEY):
	df = pd.DataFrame()
	try:
		date_str = query_date.strftime("%Y-%m-%d")
		url = f'https://eodhd.com/api/eod-bulk-last-day/US?api_token={api_token}&date={date_str}&type={filename}&fmt=csv'
		data = requests.get(url)
		df = pd.read_csv(StringIO(data.content.decode()))

	except Exception as e:
		qt.log.warning(f"couldnt load {filename} data for date {query_date}")

	return df

In [ ]:
td = download_file_by_date(dt.date(2023, 12, 27), filename="dividends")
dates = pd.date_range(start_dt, end_dt).date
for d in dates:
	td = download_file_by_date(query_date=d, )

Grid(columns_fit='auto', compress_data=True, css_rules_down=['.number-cell {text-align: left;width: 10;}', '.lâ€¦

In [ ]:
intraday_df = ti.copy()
splits_df = ts.copy()
div_df = td.copy()

In [ ]:
df = intraday_df.copy()
df["datetime"] = pd.to_datetime(df["timestamp"], utc=True, unit="s")
df["datetime_us"] = df["datetime"].dt.tz_convert("America/New_York")
df["date"] = df["datetime_us"].dt.date
df["time"] = df["datetime_us"].dt.time

In [ ]:
# keep the last close (filter between 09:30 and 16:00 pm)
df_close = df[(df['time'] >= dt.time(9,30)) & (df['time'] <= dt.time(16,0))].sort_values(['date', 'time']).reset_index(drop=True)
df_close = pd.DataFrame(df_close.groupby('date')['close'].last()).reset_index()

df_close.set_index('date')['close'].plot()

In [ ]:
start_date = df_close['date'].min()
end_date = df_close['date'].max()
tmp = pd.DataFrame(pd.date_range(start_date, end_date).date, columns=['date'])
df_close = pd.merge(tmp, df_close, on='date', how='left')

# split
splits = splits_df.copy()
splits["date"] = pd.to_datetime(splits["date"]).dt.date
splits["date"] = splits["date"].apply(lambda x: x-dt.timedelta(1))
splits["ratio"] = splits["split"].apply(lambda x: float(x.split("/")[0]) / float(x.split("/")[1]))

# add split
df_close = pd.merge(df_close, splits[['date', 'ratio']], on='date', how='left')
df_close['ratio'] = df_close['ratio'].fillna(1)
df_close = df_close.sort_values('date', ascending=False).reset_index(drop=True)
df_close['split_adj'] = 1/df_close['ratio'].cumprod()


df_close['close_adj'] = df_close['close']*df_close['split_adj']

In [ ]:
qt.view(df_close)

In [ ]:
df_close[~df_close['close'].isna()] .set_index('date') ['close_adj'].plot()

In [ ]:
df[df['date'] <= dt.date(2021, 7, 21)].set_index('datetime_us') ['close'].plot()

In [ ]:
# dividend adjustment
divs = div_df.copy()
divs["date"] = pd.to_datetime(divs["recordDate"]).dt.date
divs = divs.sort_values("date")

divs["cum_div"] = divs["unadjustedValue"][::-1].cumsum()[::-1]

df = df.merge(
	divs[["date", "cum_div"]],
	on="date",
	how="left"
)

df["cum_div"] = df["cum_div"].ffill().fillna(0.0)

for c in price_cols:
	df[c] = df[c] - df["cum_div"]

In [ ]:
t2[t2['date'] <= dt.date(2021, 7, 21)]

In [ ]:
t2.set_index('datetime_us')['close'].plot()

In [ ]:
t

In [ ]:
# t['date_us'].value_counts().sort_index().plot()
# t['time_us'].value_counts().sort_index().plot()

In [ ]:
# t.set_index('datetime_us')['close'].plot()
# t.set_index('datetime_us')['volume'].plot()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
plt.plot(t['close'])

In [ ]:
plt.plot(t['volume'])